<footer class="footer-dark">
    <div class="container">
        <!-- <hr> -->
        <div class="row">
            <hr>
            <div class="col-md-2 item">
                <h3>FLAUNT</h3>
            </div>
            <div class="col-md-2 item">
                <h3>READ</h3>
                <ul>
                    <li><a href="#">FASHION</a></li>
                    <li><a href="#">BEAUTY</a></li>
                    <li><a href="#">LIESTYLE</a></li>
                    <li><a href="#">ASK SXS</a></li>
                    <li><a href="#">PARTIES & EVENTS</a></li>
                    <li><a href="#">BLOGS</a></li>
                </ul>
            </div>
            <div class="col-md-2 item">
                <h3>WATCH</h3>
                <ul>
                    <li><a href="#">sXs TV</a></li>
                    <li><a href="#">INTERVIEWS</a></li>
                    <li><a href="#">C CHANNEL</a></li>
                </ul>
            </div>
            <div class="col-md-2 item">
                <h3>SHOP</h3>
            </div>
            <div class="col-md-2 item">
                <h3>STYLE : WEDDINGS</h3>
                <ul>
                    <li><a href="#">SW EVENTS</a></li>
                </ul>
                <br>
                <h3>CHARITY AUCTION</h3>
            </div>
            </div>
    </div>
</footer>