<div class="p-0 m-0 main-background">

<div class="container">
        <div class="row">
                <div class="col-md-9 item">
                    <p class="h4 font height">styleXstyle TV Episode 46: Fragrance of Love</p>
                    <hr>
                    <img src="../../assets/first sub-body/b1.jpg" class="img-fluid">
                </div>
                <div class="col-md-3 item">

                    <div class="images height">
                        <img src="../../assets/first sub-body/1.jpeg" class="img-fluid">
                        <img src="../../assets/first sub-body/2.jpeg" class="img-fluid">
                    </div>


                </div>
        </div>
</div>
</div>

