<div class="main-background">

<div class="container">



    <div class="row">
        <div class="col-md-9 item">




            <p class="font-italic padding">Go Lunar New Year shopping with Sharon Au!</p>
            <p class="h4 font">TRENDING LOOKS</p>
        <hr>
        <div class="row trend">
            <div class="col"><img src="../../assets/second sub-body/1.jpg" class="img-fluid"></div>
            <div class="col cl2"><img src="../../assets/second sub-body/2.jpg" class="img-fluid"></div>
            <div class="w-100"></div>
            <div class="col"><img src="../../assets/second sub-body/3.jpg" class="img-fluid"></div>
            <div class="col cl2"><img src="../../assets/second sub-body/4.jpg" class="img-fluid">
            <!-- <div class="w-25 p-3" style="padding: 0;">
                <p class="h6 title">MORE<span><br></span>LOOKS</p>
            </div> -->
            <div class="float-right">
                <img  class="img-fluid" src="../../assets/Pictures/morelooks.PNG" alt="">
            </div>

            </div>
        
          </div>
        
        
        
        <div class="row">
            <div class="col-md-12 item">
                <p class="h4 font">LATEST STORIES</p>
                <hr class="hr2">
                <small class="text-muted">{{formattedDate}} | STYLEWEDDINGS</small>
                <p class="h4 font2">Auspicious Dates To Start Work In<span><br></span>The New Lunar Year</p>
                <p>Fengushui master Joey Yap reveals when's the best day for your animal zodiac to
                    <span><br></span>start workin the year of the Fire Rooster.
                    <span class="text-muted"><em>By Style Weddings</em></span></p>
                    <div class="float-right morelooks">
                        <img  class="img-fluid float-right" src="../../assets/Pictures/morelooks.PNG" alt="">
                    </div>
                <img src="../../assets/third sub-body/main.jpg" class="img-fluid imgborder imgmore">
            </div>
        </div>
        
        
        
        
        <div class="row">
            <div class="col-md-12 item hr3">
                <small class="text-muted">{{formattedDate}} | STYLEWEDDINGS</small>
                <p class="h4 font2">Useful Tips to Walking Down the<span><br></span>Aisle with Your Dog</p>
                <p>I woof you.
                    <span class="text-muted"><em>By Chermaine Ng</em></span></p>
                    <div class="float-right morelooks">
                        <img  class="img-fluid float-right" src="../../assets/Pictures/morelooks.PNG" alt="">
                    </div>
                <img src="../../assets/fourth sub-body/main.jpg" class="img-fluid imgborder">
            </div>
        </div>
        
        
        
        
        
        
        
        
        <div class="row">
            <div class="col-md-12 item hr3">
                <small class="text-muted">{{formattedDate}} | STYLEWEDDINGS</small>
                <p class="h4 font2">8 Hipster Wedding Venues in<span><br></span>Singapore</p>
                <p>You won't find any hotel functions room here.
                    <span class="text-muted"><em>By Chelsea Tan</em></span></p>
                    <div class="float-right morelooks">
                        <img  class="img-fluid float-right" src="../../assets/Pictures/morelooks.PNG" alt="">
                    </div>
                <img src="../../assets/fifth sub-body/main.jpg" class="img-fluid imgborder">
            </div>
        </div>
        






        </div>
        <div class="col-md-3 item">








            <div class="image1">
                <img src="../../assets/second sub-body/side.jpg" class="img-fluid">
            </div>



            <div class="shop" style="background-color: #c75c5c;">

                <p class="h6"><em>Get them now</em></p>
                <p class="h1">SHOP</p>
                <hr class="hrshop">


            <div class="row" id="shopimg1">
            <div class="col-md-6 item">
                <img src="../../assets/shop/1.jpg" id="shopimg2" class="img-fluid">
                <img src="../../assets/shop/1.jpg" id="shopimg2" class="img-fluid">
                <img src="../../assets/shop/1.jpg" id="shopimg2" class="img-fluid">
                <img src="../../assets/shop/1.jpg" id="shopimg2" class="img-fluid">
                <img src="../../assets/shop/1.jpg" id="shopimg2" class="img-fluid">
                <img src="../../assets/shop/1.jpg" class="img-fluid">
            </div>

            <div class="col-md-6 item">
                <img src="../../assets/shop/1.jpg" id="shopimg2" class="img-fluid">
                <img src="../../assets/shop/1.jpg" id="shopimg2" class="img-fluid">
                <img src="../../assets/shop/1.jpg" id="shopimg2" class="img-fluid">
                <img src="../../assets/shop/1.jpg" id="shopimg2" class="img-fluid">
                <img src="../../assets/shop/1.jpg" id="shopimg2" class="img-fluid">
                <img src="../../assets/shop/1.jpg" class="img-fluid">

            </div>
            </div>


            </div>




            <div>

                
                
            <div class="row">
                <div class="col-md-12 item">
                    
                <div class="card" id="dontmiss" style="background-color: #c75c5c;">
                    <p class="h2">DON'T MISS</p>
                    <img src="../../assets/shop/8.jpg" class="card-img-top" alt="...">
                    




                    <div class="row textpadding">
                        <div class="col-sm-9">
                            <div class="d-flex justify-content-start m-2">
                            <a href="#" class="text-white">
                                <small class="caption">Style:Weding's Present 'A<span><br></span>Garden City'...</small>
                            </a>
                        </div>
                        </div>

                        <div class="col-sm-3 arrow text-muted">
                            <div class="d-flex justify-content-center">
                                <fa-icon [icon]="faChevronRight" class="arrow"></fa-icon>
                            </div>
                        </div>
                    </div>





                    
                    <img src="../../assets/shop/8.jpg" class="imgpadding card-img-top" alt="...">
                    
                    <div class="row textpadding">
                        <div class="col-sm-9">
                            <div class="d-flex justify-content-start m-2">
                            <a href="#" class="text-white">
                                <small class="caption">How to: Style Longer<span><br></span>Bangs</small>
                            </a>
                        </div>
                        </div>

                        <div class="col-sm-3 arrow text-muted">
                            <div class="d-flex justify-content-center">
                                <fa-icon [icon]="faChevronRight" class="arrow"></fa-icon>
                            </div>
                        </div>
                    </div>
                    
                    <img src="../../assets/shop/8.jpg" class="card-img-top" alt="...">
                    
                    <div class="row textpadding">
                        <div class="col-sm-9">
                            <div class="d-flex justify-content-start m-2">
                            <a href="#" class="text-white">
                                <small class="caption">In Good Company<span><br></span>Launches First</small>
                            </a>
                        </div>
                        </div>

                        <div class="col-sm-3 arrow text-muted">
                            <div class="d-flex justify-content-center">
                                <fa-icon [icon]="faChevronRight" class="arrow"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <img src="../../assets/shop/8.jpg" class="card-img-top" alt="...">
                    
                    <div class="row textpadding">
                        <div class="col-sm-9">
                            <div class="d-flex justify-content-start m-2">
                            <a href="#" class="text-white">
                                <small class="caption">Win Beauty Hampers By<span><br></span>KLARITY Worth $1.5...</small>
                            </a>
                        </div>
                        </div>

                        <div class="col-sm-3 arrow text-muted">
                            <div class="d-flex justify-content-center">
                                <fa-icon [icon]="faChevronRight" class="arrow"></fa-icon>
                            </div>
                        </div>
                    </div>

                    <img src="../../assets/shop/8.jpg" class="card-img-top" alt="...">
                    
                    
                    <div class="row textpadding">
                        <div class="col-sm-9">
                            <div class="d-flex justify-content-start m-2">
                            <a href="#" class="text-white">
                                <small class="caption">Teddy Tang: A Face to<span><br></span>Watch in 2017</small>
                            </a>
                        </div>
                        </div>

                        <div class="col-sm-3 arrow text-muted">
                            <div class="d-flex justify-content-center">
                                <fa-icon [icon]="faChevronRight" class="arrow"></fa-icon>
                            </div>
                        </div>
                    </div>
                


                </div>


            </div>
            </div>
            </div>


            <div class="social" style="background-color: #c75c5c;">
                <p class="h5">Stay</p>
                <p class="h4">CONNECTED</p>
                <hr>
                <div class="socialicon">
                    <img src="https://img.icons8.com/cotton/64/000000/youtube.png" height="50px" width="50px"/>
                    <img src="https://img.icons8.com/fluent/48/000000/camera.png" />
                    <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
                    <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/> </div>
            </div>














        </div>
</div>




























  

</div>
</div>
