<div class="header-background">
  <hr class="first-hr">  

  <div class="container">
       
    <header>
      
        <div class="top-header">
          <div class="d-flex justify-content-end">
                            
            <span class="mr-4 mt-1 hov" style="cursor:pointer"> <fa-icon [icon]="faSearch" class="arrow pr-2"></fa-icon> <input class="searchbox" type="search" name="" placeholder="Search" id=""></span>
            <span class="mr-4 mt-2" style="cursor:pointer">POST A LOOK</span>
            <span class="mt-2" style="cursor:pointer">LOGIN/REGISTER</span>
          
          </div>
        </div>
      
      <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark p-0 mr-10">
      <div class="container p-0 m-0">
        <a class="navbar-brand"><img src="../../assets/logo/logo.png" height="120px" width="150px" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">	
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link text-white" href="#"> FLAUNT </a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#"> READ </a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#"> WATCH </a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#"> SHOP </a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#"> STYLE:WEDDINGS</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#"> CHARITY AUCTION </a></li>
          </ul>
        </div> <!-- navbar-collapse.// -->
      </div> <!-- container.// -->
      </nav>
      </header>

          
      
  </div>
    <hr class="first-hr">  
    
    </div>
      
  
  
  