<div class="main-background">

<div class="container">
    <p class="h4 header">Instagram</p>




    <div class="row">
        <div class="col-md-2">
        <img class="img-fluid img-responsive" src="../../assets/instagram/1.png">
        </div>
          <div class="col-md-2">
          <img class="img-fluid img-responsive" src="../../assets/instagram/2.jpg">
        </div>
       
        <div class="col-md-2">
        <img class="img-fluid img-responsive" src="../../assets/instagram/3.jpg">
        </div>
          <div class="col-md-2">
          <img class="img-fluid img-responsive" src="../../assets/instagram/4.png">
        </div>
         <div class="col-md-2">
          <img class="img-fluid img-responsive" src="../../assets/instagram/5.jpg">
        </div>
       </div>
       <br>
       <div class="row bottompadding">
        <div class="col-md-2">
        <img class="img-fluid img-responsive" src="../../assets/instagram/6.jpg">
        </div>
          <div class="col-md-2">
          <img class="img-fluid img-responsive" src="../../assets/instagram/7.jpeg">
        </div>
       
        <div class="col-md-2">
        <img class="img-fluid img-responsive" src="../../assets/instagram/8.jpg">
        </div>
          <div class="col-md-2">
          <img class="img-fluid img-responsive" src="../../assets/instagram/9.jpg">
        </div>
         <div class="col-md-2">
          <img class="img-fluid img-responsive" src="../../assets/instagram/10.jpg">
        </div>
       </div>


    

</div>

</div>

<!-- <hr> -->